[submodule "vimfiles/bundle/delimitMate"]
	path = vimfiles/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "vimfiles/bundle/matchit"]
	path = vimfiles/bundle/matchit
	url = https://github.com/tmhedberg/matchit.git
[submodule "vimfiles/bundle/HiCursorWords"]
	path = vimfiles/bundle/HiCursorWords
	url = https://github.com/ihacklog/HiCursorWords.git
[submodule "vimfiles/bundle/a.vim"]
	path = vimfiles/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vimfiles/bundle/Apprentice"]
	path = vimfiles/bundle/Apprentice
	url = https://github.com/romainl/Apprentice.git
[submodule "vimfiles/bundle/lightline"]
	path = vimfiles/bundle/lightline
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/nerdcommenter"]
	path = vimfiles/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vimfiles/bundle/vim-bookmarks"]
	path = vimfiles/bundle/vim-bookmarks
	url = https://github.com/MattesGroeger/vim-bookmarks.git
[submodule "vimfiles/bundle/vim-sneak"]
	path = vimfiles/bundle/vim-sneak
	url = https://github.com/justinmk/vim-sneak.git
[submodule "vimfiles/bundle/vim-repeat"]
	path = vimfiles/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vimfiles/bundle/vim-surround"]
	path = vimfiles/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vimfiles/bundle/neocomplete"]
	path = vimfiles/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vimfiles/bundle/neosnippet"]
	path = vimfiles/bundle/neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "vimfiles/bundle/neosnippet-snippets"]
	path = vimfiles/bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets.git
[submodule "vimfiles/bundle/unite"]
	path = vimfiles/bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "vimfiles/bundle/neomru"]
	path = vimfiles/bundle/neomru
	url = https://github.com/Shougo/neomru.vim.git
[submodule "vimfiles/bundle/unite-outline"]
	path = vimfiles/bundle/unite-outline
	url = https://github.com/h1mesuke/unite-outline.git
[submodule "vimfiles/bundle/unite-quickfix"]
	path = vimfiles/bundle/unite-quickfix
	url = https://github.com/osyo-manga/unite-quickfix.git
[submodule "vimfiles/bundle/unite-session"]
	path = vimfiles/bundle/unite-session
	url = https://github.com/Shougo/unite-session.git
[submodule "vimfiles/bundle/unite-tag"]
	path = vimfiles/bundle/unite-tag
	url = https://github.com/tsukkee/unite-tag.git
[submodule "vimfiles/bundle/vimproc"]
	path = vimfiles/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
[submodule "vimfiles/bundle/vim-easytags"]
	path = vimfiles/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "vimfiles/bundle/vim-misc"]
	path = vimfiles/bundle/vim-misc
	url = https://github.com/xolox/vim-misc.git
[submodule "vimfiles/bundle/DoxygenToolkit"]
	path = vimfiles/bundle/DoxygenToolkit
	url = https://github.com/mrtazz/DoxygenToolkit.vim.git
